body, html {
  margin: 0;
  padding: 0;
  

}
@media only screen and (max-width: 480px) {
	.bio {
		padding: 3px !important;
		margin-top: 15px;
	}
}


*{
    font-family: font-family: 'Amatic SC', cursive;
}

#home {
	background-image: url("../images/cover1.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 90vh;
	/*background-size: 115%;*/
	/*background-position: right bottom;*/
}

.brand-logo {
	margin: 0px 10px;
}

.slide {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

.middle {
	text-align: center;
	margin-bottom: 20px;
}

.navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background:transparent;
	background-color:transparent;
	border-color:transparent;
}

.navbar li{
color:#000;
} 

.navbar-item {
	float: left;
	display: inline;
}

.navbar-block {
	display: block;
	color: black;
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  	padding-bottom: 3px
}

.navbar-block:after {
	content: '';
	display: block;
	margin: auto;
	margin-top: 2px;
	height: 2px;
	width: 0px;
	background: black;
	transition: width .2s linear;
}

.navbar-block:hover:after {
	width: 96%;
	background: black;
}
.underline {
	border-bottom: 1px solid #ffb000;
}
.heading {
	color: white;
	font-family: 'Indie Flower', cursive;

	font-weight: 200;
	font-size: 94px;
}

.subheading {
	color: black;
	font-family: 'Dosis', sans-serif;
	font-weight: 80;
	font-size: 40px;
}

.white {
	color: black;
}

.dp{
	width:400px;
	height:400px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.social{
	width:40px;
	height:40px;
	border-radius:50%;
	margin: 12px;
}

.social:hover{
	transform:scale(1.5);
	transition-duration:0.2s;
}

.about .row {
	margin: 20px 0px;
	box-shadow: 5px 5px 5px 0px rgba(205,200,205,1);
}

.about .col-md-5 {
	padding: 0px;
}

.about img {
	width: 100%;
}

.bio {
	padding: 25px;
}

.portfolio {
	margin: 30px 0px;
	background-color: #ffb000;
}

.portfolio .row {
	margin: 35px 0px;
}

.portfolio .col-md-3 {
	padding: 15px;
}

.card {
	background-color: white;
	box-shadow: 5px 5px 5px 0px rgba(135,130, 135,1);
}

.card img {
	width: 100%;
}

.card h3 {
	font-weight: 700;
	text-align: center;
}

.card h3, .card p {
	padding: 10px;
}

.card:hover {
	transform: scale(1.1);
	transition-duration: 0.2s;
}
.card p{
	color: black;
	font-family: 'Dosis', sans-serif;
	font-weight: 80;
	font-size: 20px;
}

.footnote{
	align-items:center;
	text-align:center;
}
.love{
	 width:20px;
	height20px;
}
.nav a{
font-size:12px;

}
.main-frame {
  background: url(images/.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 100vh;

}
#particle{
background-size:cover;
}
#particle-js{
height:100%;
}

#sidenav-overlay {
	z-index: 900 !important;
}

/* Mobile Tweaks */
@media only screen and (max-width: 992px) {

	.brand-logo {
		margin: 0px;
	}

	.about .row {
		box-shadow: none;
	}

	.dp {
		height: 300px;
		object-fit: cover;
	}

	.bio {
		padding: 0px;
	}
}

/*Galaxy S5 media querie*/ 
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3)	{
	p{font-size:26px;line-height:35px}
	.card-content p{font-size:27px}
	.card-image {width:300px;}
	.card{right:20px;}
	.social{width:45px;padding-top:2px}
	
}
/* Responsive */
@media screen and (min-device-width: 280px) and (max-device-width: 868px) {
	.side-nav{width:100%;text-align:center;}
	
}
/* Fixing brand-logo that breaks in small devices. */
@media only screen and (min-device-width : 280px) and (max-device-width : 338px) {
	.nav-wrapper .brand-logo{font-size:22px;}
	
